#game-section{
 text-align: center;
}

.interact-button{
  padding:0.75em 1.5em;
  margin:1em 0px 1.5em 0px;
  font-size: 1.2em;
}

#game-creator{
  margin:1em;
}

#game-creator .player{
  border-radius:5px;
  font-size: 1.2em;
  padding:.7em;
  border: 2px solid rgb(0,0,0,.4);
  outline:none;
}

@media screen and (min-width: 640px) {
  .breakline {
    display:none;
  }
}
